<div class="container">
<h2>My Bookshelf</h2>
<h3>favorites</h3>

<% favoriteBooks.forEach(book => { %>
    <% if(book.dataValues.userId === user.id){ %>
    <div>
        <p><%= book.dataValues.title %></p>
        <p><%= book.dataValues.subtitle %></p>
        <p><%= book.dataValues.authors %></p>
        <img src="<%= book.dataValues.bookCover%>" alt="cover of <%= book.dataValues.title %>">
        <form method="POST" action="/remove/<%= book.dataValues.id %>?_method=DELETE"><button class="btn btn-outline-danger" >Remove from Favorites</button></form>
    </div>

<% }}) %>
</div>